.about-section
  .about-parts.about-me
    h2.about-title - About me -
    
    img(src="./assets/img/front_foto.jpg" alt="me" class="foto-size")

    .about-description
      p Я веб разработчик из Ванкувера. Мне 43 года.
      p Я занимаюсь разработкой современных сайтов и приложений. 
      p Мне нравится делать интересные и современные проекты.
      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
      p Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
      

  .about-parts.about-skills
    h2.about-skills__title - How can I help you -
    p.description
        |Больше всего меня привлекет Frontend разработка, но я также могу решать несложные задачи на Backend. Но давайте по порядку.

    h2.about-skills__title Frontend
    .diagram
        svg.skill-svg(viewbox='0 0 100 100', preserveaspectratio='xMinYMin slice')
            g.skill-svg__skill-circle
                circle.skill-circle--back(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='251.2 251.2')
                circle.skill-circle(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='190 251.2')
        .inner-text HTML5 JADE vs Pug
    .diagram
        svg.skill-svg(viewbox='0 0 100 100', preserveaspectratio='xMinYMin slice')
            g.skill-svg__skill-circle
                circle.skill-circle--back(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='251.2 251.2')
                circle.skill-circle(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='190 251.2')
        .inner-text CSS3-SCSS PostCSS
    .diagram
        svg.skill-svg(viewbox='0 0 100 100', preserveaspectratio='xMinYMin slice')
            g.skill-svg__skill-circle
                circle.skill-circle--back(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='251.2 251.2')
                circle.skill-circle(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='170 251.2')
        .inner-text JavaScript jQuery
    .diagram
        svg.skill-svg(viewbox='0 0 100 100', preserveaspectratio='xMinYMin slice')
            g.skill-svg__skill-circle
                circle.skill-circle--back(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='251.2 251.2')
                circle.skill-circle(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='150 251.2')
        .inner-text React Redux

    h2.about-skills__title Beck-end
    .diagram
        svg.skill-svg(viewbox='0 0 100 100', preserveaspectratio='xMinYMin slice')
            g.skill-svg__skill-circle
                circle.skill-circle--back(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='251.2 251.2')
                circle.skill-circle(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='160 251.2')
        .inner-text Node.js & npm
    .diagram
        svg.skill-svg(viewbox='0 0 100 100', preserveaspectratio='xMinYMin slice')
            g.skill-svg__skill-circle
                circle.skill-circle--back(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='251.2 251.2')
                circle.skill-circle(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='110 251.2')
        .inner-text Mongo.db
    .diagram
        svg.skill-svg(viewbox='0 0 100 100', preserveaspectratio='xMinYMin slice')
            g.skill-svg__skill-circle
                circle.skill-circle--back(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='251.2 251.2')
                circle.skill-circle(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='70 251.2')
        .inner-text PHP
    .diagram
        svg.skill-svg(viewbox='0 0 100 100', preserveaspectratio='xMinYMin slice')
            g.skill-svg__skill-circle
                circle.skill-circle--back(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='251.2 251.2')
                circle.skill-circle(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='70 251.2')
        .inner-text mySQL
    h2.about-skills__title Workflow
    .diagram
        svg.skill-svg(viewbox='0 0 100 100', preserveaspectratio='xMinYMin slice')
            g.skill-svg__skill-circle
                circle.skill-circle--back(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='251.2 251.2')
                circle.skill-circle(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='190 251.2')
        .inner-text GitHub
    .diagram
        svg.skill-svg(viewbox='0 0 100 100', preserveaspectratio='xMinYMin slice')
            g.skill-svg__skill-circle
                circle.skill-circle--back(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='251.2 251.2')
                circle.skill-circle(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='190 251.2')
        .inner-text Gulp
    .diagram
        svg.skill-svg(viewbox='0 0 100 100', preserveaspectratio='xMinYMin slice')
            g.skill-svg__skill-circle
                circle.skill-circle--back(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='251.2 251.2')
                circle.skill-circle(r='40', cx='50%', cy='50%', fill='none', stroke-dasharray='130 251.2')
        .inner-text Webpack
