.about-section
  .about-parts.about-me
    h2.about-title - About me -
    
    img(src="./assets/img/front_foto.jpg" alt="me" class="foto-size")

    .about-description
      p I'm a web developer from Vancouver. I am 44 years old.
      p I am developing a modern sites and applications.
      p I like to do interesting and modern projects.
      p Later, I will update content in this site.
      

  .about-parts.about-skills
    h2.about-skills__title - How can I help you -
    p.description
        | Most of all I like Frontend development, but I can also solve simple problems in the Backend. But let's order.
    include ./_skills
