.flip-front__wrapper
  .flip-front__foto-block
    include ./_foto

  .flip-front__social-block
    include ./_social_block

  .flip-front__navigation-block
    .flip-front__btn 
      a(href="./works.html" title="My works") my works
    .flip-front__btn 
      a(href="./about.html" title="About me") about me
    .flip-front__btn 
      a(href="./blog.html" title="Blog") Blog