.flip-front__wrapper
  .flip-front__foto-block
    include ./_foto

  .flip-front__social-block
    include ./_social_block

  .flip-front__navigation-block
    .flip-front__btn 
      a(href="./works.html" title="мои работы") мои работы
    .flip-front__btn 
      a(href="./about.html" title="обо мне") обо мне
    .flip-front__btn 
      a(href="./blog.html" title="блог") блог