.footer-nav
  ul.footer-nav__list
    li.footer-nav__item 
      a(href="./works.html") Мои работы
    li.footer-nav__item 
      a(href="./about.html") Обо мне
    li.footer-nav__item 
      a(href="./blog.html") Блог
    li.footer-nav__item 
      a(href="./index.html") Авторизация
    //- li.footer-nav__item.footer-nav__ontop
    //-   a(href="#next") To the top