.footer-social
      ul.socialDown__list
        li.socialDown__item
          a(href='https://vk.com/varden.adams', target='_blank', title='My VK')
            svg.socialDown__item_1
              use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='./assets/img/sprite.svg#vk_round')
        li.socialDown__item
          a(href='https://github.com/ivarden', target='_blank', title='My GitHub')
            svg.b-socialDown__item_2
              use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='./assets/img/sprite.svg#github_round')
        li.socialDown__item
          a(href='https://www.linkedin.com/in/ivarden', target='_blank', title='My Linkedin')
            svg.socialDown__item_3
              use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='./assets/img/sprite.svg#in_round')