.footer-nav
  ul.footer-nav__list
    li.footer-nav__item 
      a(href="./works.html") My works
    li.footer-nav__item 
      a(href="./about.html") About me
    li.footer-nav__item 
      a(href="./blog.html") Blog
    li.footer-nav__item 
      a(href="./index.html") Authorization