#toggle.button_container
  span.top
  span.middle
  span.bottom

#overlay.overlay
  nav.overlay-menu
    ul
      li
        a(href='./index.html') Home
      li
        a(href='./about.html') About
      li
        a(href='./works.html') Work
      li
        a(href='./blog.html') Blog