-
	var skills = {
	  'Frontend' : {'HTML5 JADE vs Pug' : 75, 'CSS3 SCSS PostCSS' : 70, 'JavaScript jQuery' : 60, 'React Redux' : 50},
	  'Backend' : {'Node.js & npm' : 50, 'Mongo.db' : 50, 'PHP' : 40, 'mySQL' : 40},
	  'Workflow' : {'Git' : 60, 'Gulp' : 60, 'Webpack' : 50, 'Bower' : 50, 'Heroku' : 50}
	}
	
each skill__list, skill__title in skills
	section.skills
		h3.skills-title.skills__title_h3 #{skill__title}
		ul.skills__list
			each level, skill__title in skill__list
				li.skills__item
					svg(width="110" height="110").skills__circles
						circle(r="45" cx="50%" cy="50%" fill="none" class="skills__circle-first")
						circle(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" data-circle=level class='skills__circle-second')
					span.skills__title #{skill__title}