.slider-wrap
  .slider-description description
    h2 title
    a(href="#") link
  .slider-picture picture
    img(src="" alt="big img")
  .slider-toggle 
    .slider-toggle__wrap
      .slider-toggle__left L
        
        
      .slider-toggle__right R
        a.works-slider__control-btn.works-slider__control-btn_right(href='#')












//- .slider-wrap.works
//-   .slider-description description
    //- .subtitle
    //- .works__content-desc
    //- .works__content-btn
    //-   a.works__content-view(href="#")
    //-     i.fa.works__content-view-icon.fa-link
    //-       |  Посмотреть сайт

    h2 title
    a(href="#") link
    //- .slider-picture picture
    //-   .works-slider__display
    //-     img.works-slider__display-pic(src="", alt="")

    .works-slider__display
      img(src="" alt="big img")
  //- .slider-toggle 
  //-   .slider-toggle__wrap
  //-     .slider-toggle__left L
  //-       a.works-slider__control-btn.works-slider__control-btn_left(href="#")
  //-         ul.works-slider__control-list
  //-           li.works-slider__control-item(data-full="./assets/img/slider/1.png", data-title="Агентсво интернет решений ITLoft", data-skills="node", data-link="http://itloft.ru/")
  //-             img.works-slider___control-img(src="./assets/img/slider/1.png")
  //-           li.works-slider__control-item(data-full="./assets/img/slider/2.png", data-title="Школа онлай-образования LoftSchool", data-skills="html5, CSS3, javascript, php", data-link="http://loftschool.com/")
  //-             img.works-slider___control-img(src="./assets/img/slider/2.png")
  //-           li.works-slider__control-item(data-full="./assets/img/slider/3.png", data-title="Портал обучающих уроков LoftBlog", data-skills="Ruby on Rails, javascript, RESTful", data-link="http://loftblog.ru/")
  //-             img.works-slider___control-img(src="./assets/img/slider/3.png")
  //-           li.works-slider__control-item(data-full="./assets/img/slider/4.png", data-title="Сайт Атма йога", data-skills="UX, design, seo", data-link="http://atmayoga.ru/")
  //-             img.works-slider___control-img(src="./assets/img/slider/4.png")

        
//-       .slider-toggle__right R
//-         a.works-slider__control-btn.works-slider__control-btn_right(href="#")

//- section.section.works.slider-wrap
//-   .works__content
//-     .works__left
//-       .works-slider__content
//-         .works-slider__content-wrapper
//-           .works-slider__display
//-             img.works-slider__display-pic(src='', alt='')
//-           .works-slider__item-about
//-             .works__subtitle
//-               .subtitle
//-             .works__content-desc
//-             .works__content-btn
//-               a.works__content-view(href='#')
//-                 i.fa.works__content-view-icon.fa-link
//-                 |  Посмотреть сайт
//-     .works__right
//-       .works-slider
//-         .works-slider__controls
//-           a.works-slider__control-btn.works-slider__control-btn_left(href='#')
//-             ul.works-slider__control-list
//-               li.works-slider__control-item(data-full="./assets/img/slider/1.png", data-title="Агентсво интернет решений ITLoft", data-skills="node", data-link="http://itloft.ru/")
//-                 img.works-slider___control-img(src="./assets/img/slider/1.png")
//-               li.works-slider__control-item(data-full="./assets/img/slider/2.png", data-title="Школа онлай-образования LoftSchool", data-skills="html5, CSS3, javascript, php", data-link="http://loftschool.com/")
//-                 img.works-slider___control-img(src="./assets/img/slider/2.png")
//-               li.works-slider__control-item(data-full="./assets/img/slider/3.png", data-title="Портал обучающих уроков LoftBlog", data-skills="Ruby on Rails, javascript, RESTful", data-link="http://loftblog.ru/")
//-                 img.works-slider___control-img(src="./assets/img/slider/3.png")
//-               li.works-slider__control-item(data-full="./assets/img/slider/4.png", data-title="Сайт Атма йога", data-skills="UX, design, seo", data-link="http://atmayoga.ru/")
//-                 img.works-slider___control-img(src="./assets/img/slider/4.png")
//-           a.works-slider__control-btn.works-slider__control-btn_right(href='#')
