.slider-wrap
  .slider-description description
    h2 title
    a(href="#") link
  .slider-picture picture
    img(src="" alt="big img")
  .slider-toggle 
    .slider-toggle__wrap
      .slider-toggle__left L
      .slider-toggle__right R