ul.social-top
  li.social-link
    a(href="https://vk.com/varden.adams" target="_blank" title="My VK")
      svg(class="svg-vk-dims")
        use(xlink:href="./assets/img/sprite.svg#vk" class="icon vk-icon")
  li.social-link
    a(href="https://github.com/ivarden" target="_blank" title="My GitHub")
      svg(class="svg-github-dims")
        use(xlink:href="./assets/img/sprite.svg#github" class="icon github-icon")
  li.social-link
    a(href="https://www.linkedin.com/in/ivarden" target="_blank" title="My Linkedin")
      svg(class="svg-in-dims")
        use(xlink:href="./assets/img/sprite.svg#in" class="icon in-icon")