.social-block
  a(href="#" title="vk" class="social-link")
    svg(class="svg-vk-dims")
      use(xlink:href="../assets/img/sprite.svg#vk" class="vk-icon")
  a(href="#" title="github")
    svg(class="svg-github-dims")
      use(xlink:href="../assets/img/sprite.svg#github" class="github-icon")
  a(href="#" title="linkidin")
    svg(class="svg-in-dims")
      use(xlink:href="../assets/img/sprite.svg#in" class="in-icon")