.top-wrap {
  display: flex;
  flex: 1 0 auto;
  height: 1rem;
}

.social {
  flex: 0 0 auto;
  padding: 1rem;
}

@media (max-width: 414px) {
  .social {
    flex: 0 0 auto;
    padding: 0rem;
  }
}

@media (max-height: 320px) {
  .social {
    flex: 0 0 auto;
    padding: 0rem;
  }
}

.menu {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  height: auto;
}

.foto-block {
  flex: 2 0 auto;
  height: 80%;
  display: flex;
  display: block;
  justify-content: center;
  color: rgba(white, .9);
  position: relative;
}

.svg-about_header-link {
  display: block;
  position: relative;
  width: 100%;
  flex-direction: column;
  position: absolute;
  bottom: 30px;
}

.svg-about_header-dims {
  position: absolute;
  width: 100%;
  bottom: 20%;
  z-index: 0;
}

.svg-arrow_down-dims {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.svg-about_header-dims use {
  fill: rgba($header-text-background-color, .3);
}

.svg-about_header-link {
  fill: rgba($header-text-background-color, .6);
}

.svg-about_header-link:hover {
  fill: rgba($header-text-background-color_hover, .8);
}

.decoration-bottom {
  flex: 1 0 auto;
  display: flex;
  position: relative;
}

.header-bg_background {
  position: absolute;
  left: 0;
  bottom: 0;
}

.header-bg_background {
  height: 100%;
  fill: $header-bottom-background-decoration;
  position: absolute;
  bottom: 0;
  left: 0;
}

.social {
  .vk-icon,
  .github-icon,
  .in-icon,
  .icon-color {
    fill: rgba($header_social_color, .7);
  }
  .vk-icon:hover,
  .github-icon:hover,
  .in-icon:hover,
  .icon-color:hover {
    fill: $header_social_color_hover;
  }
}

.traingle {
  position: absolute;
  bottom: 0;
}

.traingle-left {
  fill: #efeee9;
}

.traingle-right {
  fill: #efeee9;
}
