.flip-front {
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: inherit;
  }
  &__foto-block {
    flex: 1 1 auto;
    & .foto-img {
      width: 145px;
      height: 145px;
      background: url('../img/front_foto.jpg');
      background-size: cover;
      border-radius: 50%;
      margin: 2rem 0 1rem 0;
      opacity: 9;
    }
    & .foto-title,
    & .foto-text {
      color: $flip-front_font_color;
    }
  }
  &__social-block {
    text-align: center;
    & .svg-icon {
      fill: $flip-front_social_color;
    }
    & .svg-icon :hover {
      fill: $flip-front_social_color_hover;
    }
  }
  &__navigation-block {
    display: flex;
    height: aoto;
    background: rgba($flip-front_btn_color, .6);
    border-radius: 0 0 .5rem .5rem;
  }
  &__btn {
    display: block;
    color: $flip-front_btn_text_color;
    flex: 1 0 auto;
    text-align: center;
    border-right: 2px solid rgba($flip-front_btn_border_color, .7);
  }
  &__btn:last-child {
    border-right: 0px;
  }
  &__btn:first-letter {
    text-transform: uppercase;
  }
  &__btn:hover {
    background: rgba($flip-front_btn_color_hover, .5);
    cursor: pointer;
  }
  &__btn a {
    display: block;
    text-decoration: none;
    color: $flip-front_btn_text_color;
    padding: 1rem;
  }
}