.social-top {
  padding-left: 0;
  // margin: 0;
  display: flex;
}

.social-link {
  display: inline-flex;
  list-style: none;
  margin-right: 1rem;
  z-index: 1;
  & a {
    align-self: center;
  }
  & svg {
    fill: $social-top-color;
  }
  &:hover svg {
    fill: $social-top-color_hover;
  }
}

// .svg-github-dims {
//   margin-bottom: -2px;
// }
// .svg-vk-dims {
//   margin-bottom: -3px;
// }
