.social-wrapper {
  padding-left: 0;
}

.social-flip {
  padding-left: 0;
  &-link {
    display: inline-block;
    list-style: none;
    width: 3rem;
    height: 3rem;
    z-index: 1;
  }
}

.svg-github-dims {
  margin-bottom: -2px;
}

@media (max-width: 414px) {
  .social-flip a {
    display: block;
    margin: .5rem;
  }
}

@media (orientation:landscape) {
  .social-flip a {
    display: block;
    margin: .5rem;
  }
}