// Colors:
$flip-front_font_color : #455a64;

$flip-front_btn_border_color : #ffffff;
$flip-front_btn_text_color : #ffffff;

$flip-front_btn_color: #00bfa5;
$flip-front_btn_color_hover : #009688;

$flip-front_social_color: #00bfa5;
$flip-front_social_color_hover : #009688;

$header_social_color: #ffffff;
$header_social_color_hover : #ffffff;

$flip-back_font_color : #455a64;
$flip-background_color : #ffffff;
$flip-back_icon_background : #f0efe9;

$login-btn_border_color : #ffffff;
$login-btn_text_color : #ffffff;

$copyright-text_color : #ffffff;

$header-bottom-background-decoration: #efeee9;
$header-text-background-color: #ffffff;
$header-text-background-color_hover: #ffffff;