.work-section {
  background: $header-traingel-left-color;
}
.works-title {
  text-align: center;
  text-transform: uppercase;
  background: $header-traingel-left-color;
  min-height: 4rem;
}

.footer {
  background: $header-traingel-left-color;
}