extends ../_template

block variables
  - var title = 'Login Page'

block content

  .wrapper
    
    .container

      .login-block
        button.login-btn Авторизоваться

      .login-content 
        .flip-block
          include ../common/_flip

      .copyright-block 
        p.copyright-text &copy Varden Adamchuk 2016
