extends ../_template

block variables
  - var title = 'Login Page'

block content

  .wrapper
    
    .container

      .login-block
        button.login-btn Authorisation

      .login-content 
        include ../common/_flip

      .login-copyright
        p.login-copyright-text &copy Varden Adamchuk 2016  
