extends ../_template

block variables
  - var title = 'Layout'

block content

  .wrapper
    
    .container

      .header
        .header-top
          include ../common/_social_top
          include ../common/_menu_top
        .header-bottom
          include ../common/_foto
            svg(class="svg-about_header-dims")
              use(xlink:href="../assets/img/sprite.svg#about_header" class="header-text-background-color")
              //- use(xlink:href="../assets/img/sprite.svg#works_header" class="header-text-background-color")
              //- use(xlink:href="../assets/img/sprite.svg#portfolio_header" class="header-text-background-color")
            
            .arrow-down
              a(href="#next" class="svg-about_header-link")
                svg(class="svg-arrow_down-dims")
                  use(xlink:href="../assets/img/sprite.svg#arrow_down")
        
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none' class="traingle")
              polygon(points='0,0   0,86   500.8,86   500.8,75.5' class="traingle-left")
              polygon(points='1000,0   1000,86   500,86   500,75.5' class="traingle-right")




      .section
        a(name="next")
        include ../common/_about_section

      
      .footer
        .map
          div#map
        
          include ../common/_footer