extends ../_template

block variables
  - var title = 'Work page'

block content

  .wrapper
    
    .container

      .header
        include ../common/_about_header

      .section#next
        include ../common/_about_section

      .copyright-block 
        p.copyright-text &copy Varden Adamchuk 2016  